<div class="relative min-h-screen overflow-hidden parallax-bg font-roboto">
    <div class="absolute inset-0 overlay"></div>
    <div class="relative z-10 text-white min-h-screen">
        <header class="container mx-auto px-4 py-6 flex justify-between items-center">
            <div class="flex items-center space-x-2 group">
                <img src="../../assets/images/logo-only.png" alt="AItech Logo" class="h-8 w-auto transition-transform duration-300 group-hover:scale-110">
                <span class="text-2xl font-bold group-hover:text-kblue transition-colors duration-300">Kinymuuk</span>
              </div>
            <nav>
              <ul class="flex space-x-6">
                <li>
                  <a href="#" class="relative group">
                    <span class="text-white text-xl group-hover:text-kblue transition-colors duration-300">Inicio</span>
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-kblue group-hover:w-full transition-all duration-300"></span>
                  </a>
                </li>
                <li>
                  <a href="#" class="relative group">
                    <span class="text-white text-xl group-hover:text-kblue transition-colors duration-300"> Nosotros</span>
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-kblue group-hover:w-full transition-all duration-300"></span>
                  </a>
                </li>
                <li>
                  <a href="#" class="relative group">
                    <span class="text-white text-xl group-hover:text-kblue transition-colors duration-300">Servicios</span>
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-kblue group-hover:w-full transition-all duration-300"></span>
                  </a>
                </li>
                <li>
                  <a href="#" class="relative group">
                    <span class="text-white text-xl group-hover:text-kblue transition-colors duration-300">Portafolio</span>
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-kblue group-hover:w-full transition-all duration-300"></span>
                  </a>
                </li>
                <li>
                  <a href="#" class="relative group">
                    <span class="text-white text-xl group-hover:text-blue-400 transition-colors duration-300">Contacto</span>
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 group-hover:w-full transition-all duration-300"></span>
                  </a>
                </li>
              </ul>
            </nav>
            <button class="bg-kblue hover:bg-kinymuuk px-4 py-2 rounded transition-colors duration-300 transform hover:scale-105">
              Explore our demos
            </button>
        </header>
    
        <main class="container mx-auto px-4 py-16 flex flex-col justify-center   ">
            <div class="text-center mb-12 flex justify-center items-center">
                <div class="text-center md:text-left">
                    <h1 class="text-4xl md:text-5xl font-bold mb-4 text-white">
                      Bienvenidos a <span class="text-gradient">Kinymuuk</span>
                    </h1>
                    <p class="text-xl text-brand-400 mb-6">
                      Innovación en desarrollo de software
                    </p>
                    <p class="text-lg text-gray-300 max-w-md">
                      Transformamos ideas en soluciones tecnológicas poderosas. 
                      Diseño intuitivo, código eficiente, resultados extraordinarios.
                    </p>
                  </div>
                <div class="md:w-1/2 flex justify-center">
                    <div class="home-img w-[410px] h-[410px] opacity-0 animate-zoom-float">
                      <div class="glowing-circle relative w-full h-full rounded-full flex justify-center items-center">
                        <span class="absolute inset-0"></span>
                        <span class="absolute inset-0 filter blur-md"></span>
                        <div class="relative w-[380px] h-[380px] rounded-full z-10 overflow-hidden bg-gray-900">
                          <img src="../../assets/images/logo-only.png" alt="AI Logo" class="absolute top-[50px] left-[15%] max-w-[300px] object-cover">
                        </div>
                      </div>
                    </div>
                  </div>  
            </div>
           
        
            <div class="container mx-auto px-4">
                <div class="md:flex md:justify-center">
                    <div class="relative p-4 md:w-1/3 max-w-md mx-auto mb-8 md:mb-0">
                        <div class="rounded-lg relative group overflow-hidden glow-effect">
                            <img src="../../assets/images/card1.png" alt="" class="rounded-lg w-full h-64 md:h-96 object-cover">
                            <div class="backdrop-blur-md bg-kblue/30 absolute bottom-0 left-0 right-0 top-auto p-4 rounded-t-lg transition-all transform translate-y-0 h-24 group-hover:h-56">
                                <span class="text-white text-xl font-bold uppercase mb-2 block">
                                    01 | Desarrollo Web
                                </span>
                                <p class="text-white text-sm opacity-0 transition-opacity transform translate-y-4 group-hover:opacity-100">
                                    Creamos sitios web y aplicaciones robustas y escalables. Nuestro equipo utiliza las últimas tecnologías para asegurar proyectos rápidos, seguros y adaptables a tus necesidades empresariales. Optimizamos cada aspecto para una experiencia de usuario excepcional.
                                </p>
                            </div>
                        </div>
                    </div>    
                    <div class="relative p-4 md:w-1/3 max-w-md mx-auto mb-8 md:mb-0">
                        <div class="rounded-lg relative group overflow-hidden glow-effect">
                            <img src="../../assets/images/card2.png" alt="" class="rounded-lg w-full h-64 md:h-96 object-cover">
                            <div class="backdrop-blur-md bg-kblue/30 absolute bottom-0 left-0 right-0 top-auto p-4 rounded-t-lg transition-all transform translate-y-0 h-24 group-hover:h-56">
                                <span class="text-white text-xl font-bold uppercase mb-2 block">
                                    02 | Aplicaciones Móviles
                                </span>
                                <p class="text-white text-sm opacity-0 transition-opacity transform translate-y-4 group-hover:opacity-100">
                                    Desarrollamos aplicaciones móviles intuitivas y potentes para iOS y Android. Creamos experiencias de usuario excepcionales con interfaces atractivas y funcionalidades innovadoras que mantienen a tus usuarios comprometidos y satisfechos.
                                </p>
                            </div>
                        </div>
                    </div>     
                    <div class="relative p-4 md:w-1/3 max-w-md mx-auto mb-8 md:mb-0">
                        <div class="rounded-lg relative group overflow-hidden glow-effect">
                            <img src="../../assets/images/card3.png" alt="" class="rounded-lg w-full h-64 md:h-96 object-cover">
                            <div class="backdrop-blur-md bg-kblue/30 absolute bottom-0 left-0 right-0 top-auto p-4 rounded-t-lg transition-all transform translate-y-0 h-24 group-hover:h-56">
                                <span class="text-white text-xl font-bold uppercase mb-2 block">
                                    03 | Soluciones Cloud
                                </span>
                                <p class="text-white text-sm opacity-0 transition-opacity transform translate-y-4 group-hover:opacity-100">
                                    Ofrecemos soluciones de nube escalables y seguras. Optimizamos operaciones, mejoramos colaboración y reducimos costos con infraestructuras robustas. Nuestros servicios de cloud computing impulsan la eficiencia y el crecimiento de tu negocio.
                                </p>
                            </div>
                        </div>
                    </div>       
                </div>
            </div>
        </main>
    </div>
  </div>