@keyframes circleRotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes zoomIn {
    0% { opacity: 0; transform: scale(0); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes floatImage {
    0% { transform: translateY(0); }
    50% { transform: translateY(-24px); }
    100% { transform: translateY(0); }
}

.glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#860ead, #115fbd, #860ead);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1) {
    filter: blur(10px);
}

.home-img {
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s, 1s;
}

.text-gradient {
    background: linear-gradient(to right, theme('colors.kinymuuk'), theme('colors.kblue'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 900;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 5px theme('colors.kblue'), 0 0 10px theme('colors.kblue');
    }
    50% {
      box-shadow: 0 0 20px theme('colors.kblue'), 0 0 30px theme('colors.kblue');
    }
    100% {
      box-shadow: 0 0 5px theme('colors.kblue'), 0 0 10px theme('colors.kblue');
    }
  }
  
  .glow-effect {
    transition: all 0.3s ease;
  }
  
  .glow-effect:hover {
    animation: glow 1.5s ease-in-out infinite;
  }